@font-face {
  font-family: "npeditorfont"; /* Project id 1599365 */
  src: url('../font/iconfont-1686125571249.woff2') format('woff2'),
       url('../font/iconfont-1686125571249.woff') format('woff'),
       url('../font/iconfont-1686125571249.ttf') format('truetype');
}

.npeditorfont {
  font-family: "npeditorfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.npeditor-blick:before {
  content: "\e648";
}

.npeditor-variable:before {
  content: "\e671";
}

.npeditor-bianliang:before {
  content: "\e730";
}

.npeditor-parents:before {
  content: "\e697";
}

.npeditor-huagan1:before {
  content: "\e698";
}

.npeditor-huagan2:before {
  content: "\e69a";
}

.npeditor-biji:before {
  content: "\e636";
}

.npeditor-tianjiajiheti:before {
  content: "\e6a1";
}

.npeditor-huadongtiao:before {
  content: "\e62b";
}

.npeditor-text:before {
  content: "\e64c";
}

.npeditor-fanhui:before {
  content: "\e7e8";
}

.npeditor-right:before {
  content: "\e741";
}

.npeditor-left:before {
  content: "\ec96";
}

.npeditor-first:before {
  content: "\e7e6";
}

.npeditor-last:before {
  content: "\e7f0";
}

.npeditor-more:before {
  content: "\e700";
}

.npeditor-extend:before {
  content: "\ec99";
}

.npeditor-unfolder:before {
  content: "\e751";
}

.npeditor-folder:before {
  content: "\e61f";
}

.npeditor-parent:before {
  content: "\e691";
}

.npeditor-child:before {
  content: "\e692";
}

.npeditor-parentchild:before {
  content: "\e693";
}

.npeditor-none:before {
  content: "\e694";
}

.npeditor-calcu:before {
  content: "\e726";
}

.npeditor-2D:before {
  content: "\e650";
}

.npeditor-3D:before {
  content: "\e619";
}

.npeditor-upload:before {
  content: "\e688";
}

.npeditor-modify:before {
  content: "\e670";
}

.npeditor-record:before {
  content: "\e610";
}

.npeditor-yes:before {
  content: "\e60d";
}

.npeditor-doubt:before {
  content: "\e628";
}

.npeditor-warn:before {
  content: "\e618";
}

.npeditor-forbid:before {
  content: "\e64e";
}

.npeditor-stop:before {
  content: "\e835";
}

.npeditor-pause:before {
  content: "\e785";
}

.npeditor-play:before {
  content: "\e81f";
}

.npeditor-triangle-bottom:before {
  content: "\e708";
}

.npeditor-triangle-top:before {
  content: "\e70a";
}

.npeditor-plus:before {
  content: "\e620";
}

.npeditor-arrow-right:before {
  content: "\e64f";
}

.npeditor-tip:before {
  content: "\e62a";
}

.npeditor-eraser:before {
  content: "\ec94";
}

.npeditor-backspace:before {
  content: "\e607";
}

.npeditor-show:before {
  content: "\e66f";
}

.npeditor-front-view:before {
  content: "\e608";
}

.npeditor-left-view:before {
  content: "\e60b";
}

.npeditor-top-view:before {
  content: "\e60c";
}

.npeditor-remove:before {
  content: "\ec95";
}

.npeditor-drag-up-down:before {
  content: "\eb90";
}

.npeditor-add:before {
  content: "\e645";
}

.npeditor-move:before {
  content: "\e644";
}

.npeditor-view-point:before {
  content: "\e61a";
}

.npeditor-main-view:before {
  content: "\e631";
}

.npeditor-hyperlink:before {
  content: "\e6e1";
}

.npeditor-stop-circle:before {
  content: "\e6ae";
}

.npeditor-play-circle:before {
  content: "\e6af";
}

.npeditor-geometry:before {
  content: "\e609";
}

.npeditor-directory-tree:before {
  content: "\e64d";
}

.npeditor-directorys:before {
  content: "\e720";
}

.npeditor-mark:before {
  content: "\e605";
}

.npeditor-transform:before {
  content: "\e606";
}

.npeditor-UCS:before {
  content: "\e604";
}

.npeditor-close:before {
  content: "\e635";
}

.npeditor-share:before {
  content: "\e60a";
}

.npeditor-import:before {
  content: "\e6e0";
}

.npeditor-return:before {
  content: "\e616";
}

.npeditor-preview:before {
  content: "\e60f";
}

.npeditor-cube:before {
  content: "\e72d";
}

.npeditor-center:before {
  content: "\e77c";
}

.npeditor-arrow-down:before {
  content: "\e871";
}

.npeditor-pullright:before {
  content: "\ec97";
}

.npeditor-pullleft:before {
  content: "\ec98";
}

.npeditor-pullup:before {
  content: "\e602";
}

.npeditor-pulldown:before {
  content: "\e603";
}

.npeditor-affine:before {
  content: "\e684";
}

.npeditor-align:before {
  content: "\e601";
}

.npeditor-vector:before {
  content: "\e600";
}

.npeditor-line:before {
  content: "\e699";
}

.npeditor-paste:before {
  content: "\e6c0";
}

.npeditor-copy:before {
  content: "\e626";
}

.npeditor-redo:before {
  content: "\e7cf";
}

.npeditor-undo:before {
  content: "\e822";
}

.npeditor-narrow:before {
  content: "\e617";
}

.npeditor-enlarge:before {
  content: "\e60e";
}

.npeditor-alignRight:before {
  content: "\e65c";
}

.npeditor-alignTop:before {
  content: "\e65d";
}

.npeditor-alignHorizontal:before {
  content: "\e65e";
}

.npeditor-alignBottom:before {
  content: "\e65f";
}

.npeditor-alignLeft:before {
  content: "\e660";
}

.npeditor-hide:before {
  content: "\e624";
}

.npeditor-clear:before {
  content: "\e8d1";
}

.npeditor-edit:before {
  content: "\e8d2";
}

.npeditor-recover:before {
  content: "\e625";
}

.npeditor-toggle:before {
  content: "\e8d0";
}

.npeditor-toggle-on:before {
  content: "\e64b";
}

.npeditor-magnet:before {
  content: "\e6ef";
}

.npeditor-setting:before {
  content: "\e68a";
}

.npeditor-clean:before {
  content: "\e7c5";
}

.npeditor-check:before {
  content: "\e7e5";
}

.npeditor-alignVertical:before {
  content: "\e65b";
}

